

<%- include('templates/head',{myTitle:"Home"}) %>
<%- include('templates/navbar') %>

    <div class="col-lg-12 text-center">
            <h1 class="mt-5">Home Page my friend</h1>
    </div>
    
<%- include('templates/footer') %>