

<%- include('templates/head',{myTitle:"Contact"}) %>
<%- include('templates/navbar') %>

    <div class="col-lg-12 text-center">
            <h1 class="mt-5">Contact page</h1>
    </div>
    
<%- include('templates/footer') %>