

<%- include('templates/head',{myTitle:"404"}) %>
<%- include('templates/navbar') %>

<div class="col-lg-12 text-center">
         <h1 class="mt-5">Select your rocket</h1>
         <h2 class="mt-5 text-warning"> It seems that the page doesn´t exist </h2>
</div>

<%- include('templates/footer') %>





